.app_img {
  flex: 0.85 1;
  height: 656px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .app_img {
    font-size: 23px;
    width: 84%;
    height: 644px;
    border-radius: 8px;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    height: fit-content;
  }
}

.app_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.heading {
  margin-left: 20px;
}
.bottom_div {
  position: sticky;
  bottom: 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .app_page {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
  }
}
